* {
    margin: 0;
    padding: 0;
    list-style: none;
}
#wrap {
    width: 600px;
    height: 600px;
    background-color: #eee;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#rotate1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#rotate2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}